[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/my-blackburn"]
	path = themes/my-blackburn
	url = https://github.com/tetsuyainfra/blackburn
[submodule "public"]
	path = public
	url = git@github.com:tetsuyainfra/tetsuyainfra.github.io.git
	branch = master
