{{ if .IsNamedParams }}
<div class="{{ if .Get "class" }}{{ .Get "class" }}{{ else }}pure-u-1{{ end }}">
  <a href="{{ .Get  "src" }}">
    <img class="pure-img" src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}>
  </a>
  {{ if .Get "title" }}
  <div class="post-img-meta {{ with .Get "title-align" }}{{ . }}{{ end }}">
    <h3>{{ .Get "title" }}</h3>
  </div>
  {{ end }}
</div>
{{ else }}
<img class="pure-img" src="{{ index .Params 0 }}" alt="">
{{ end }}